{% extends 'base.html' %}

{% block title %}Forgot Password?{% endblock title %}

{% block content %}
    <h2>Forgot Your Password?</h2>
    <p>
        Please enter your email below and we'll send you instructions on how to change your password.
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Send me instructions!">
        <a class="btn btn-info ml-2" href="{% url 'home' %}" role="button">Cancel</a>
    </form>
{% endblock content %}