{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}
    <h2>Change Password</h2>
    <p>
        Please enter first your current password. 
        Then enter your new paasword twice and click the <b>Change Password</b> button.
    </p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Change Password">
        <a class="btn btn-info ml-2" href="{% url 'home' %}" role="button">Cancel</a>
    </form>
{% endblock content %}
