{% extends 'base.html' %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<br>
<div class="jumbotron">
    <h1 class="display-4">Reports</h1>
    <p class="lead">A test website created with Django.</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="{% url 'report_list' %}" role="button">
        View All Reports
    </a></p>
</div>
{% if user.is_authenticated %}
    <p>Hello {{ user.username }}!</p>
{% else %}
    <p>You are not logged in.</p>
{% endif %}
{% endblock content %}
