{% extends 'base.html' %}

{% block title %}Reports{% endblock title %}

{% block content %}
    {% for report in report_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ report.title }}</span>
                <span class="text-muted">by {{ report.author }} | {{ report.date }}</span>
            </div>
            <div class="card-body">
                {{ report.body }}
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'report_edit' report.pk %}">Edit</a> | 
                <a href="{% url 'report_delete' report.pk %}">Delete</a> 
            </div>
            <div class="card-footer">
                {% for comment in report.comments.all %}
                <p class="font-weight-bold">Comments</p>
                <p>
                    <span class="font-weight-bold">
                        {{ comment.author }}:
                    </span>
                    {{ comment }}
                </p>
                {% endfor %}
            </div>
        </div>
        <br/>
    {% endfor %} 
    <a class="btn btn-info ml-2" href="{% url 'home' %}" role="button">Back</a>
{% endblock content %}